<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Android 11+: solo necesitamos ver las apps con icono en el cajón. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application>
        <activity
            android:name=".AppPickerActivity"
            android:exported="false"
            android:theme="@style/Theme.Dap.Sheet"
            android:windowSoftInputMode="stateHidden|adjustResize" />
    </application>
</manifest>
