<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dap">

        <!-- El "Home" del sistema: redirige a la app configurada y se cierra sin dejar rastro. -->
        <activity
            android:name=".HomeActivity"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:stateNotNeeded="true"
            android:theme="@style/Theme.ShortcutLauncher.Invisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Afinidad propia para no mezclarse con la tarea del Home. -->
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="dev.kevin.shortcutlauncher.settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
